<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Magasin Bébé et Enfant Dakar | OCASE Bébé Dakar | Dakar</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/images/icons/favicon.png">

    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400']
            }
        };
        (function(d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/demo4.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome-free/css/all.min.css">
</head>

<body>
    <div class="page-wrapper">
        <div class="top-notice bg-primary text-white">
            <div class="container text-center">
                <h5 class="d-inline-block">Bienvenue dans votre showroom Ô’CASE BÉBÉ. Nous sommes ouvert du Lundi au Dimanche de 09H à 20H.</h5>
                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .top-notice -->

        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="d-flex justify-content-between w-100">
                        <div class="header-left w-50">
                            <ul class="mb-0">
                                <li><a href="#"><i class="icon-user-2"></i> Se connecter</a></li>
                            </ul>
                        </div>
                        <div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100 w-50 text-right justify-content-end">
                       
                        
                        <!-- Socials -->

                        <div class="social-icons">
                            <a href="https://www.facebook.com/Ocasebebe" class="social-icon social-facebook icon-facebook" target="_blank"></a>
                            <a href="https://www.instagram.com/ocase_bebe_dakar/" class="social-icon social-twitter icon-twitter" target="_blank"></a>
                            <a href="https://twitter.com/bebeocase" class="social-icon social-instagram icon-instagram" target="_blank"></a>
                        </div>
                        <!-- End .social-icons -->
                    </div>
                    </div>
                    
                    <!-- End .header-left -->

                    
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-top -->

            <div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
                <div class="container">
                    <div class="header-left col-lg-2 w-auto pl-0">
                        <button class="mobile-menu-toggler text-primary mr-2" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" width="111" height="44" alt="Porto Logo">
                        </a>
                    </div>
                    <!-- End .header-left -->

                    <div class="header-right w-lg-max">
                        <div class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Rechercher un article, une catégorie" required>
                                    <div class="select-custom">
                                        <select id="cat" name="cat">
                                            <option value="">Toute catégorie</option>
                                            <option value="12">Puériculture</option>
                                            <option value="13">Vêtement</option>
                                            <option value="66">Chaussures</option>
                                            <option value="67">Repas Bébé</option>
                                            <option value="5">Hygiènes et soins</option>
                                            <option value="21">Jouet et Cadeaux</option>
                                            <option value="22">Univers Maman</option>
                                        </select>
                                    </div>
                                    <!-- End .select-custom -->
                                    <button class="btn icon-magnifier p-0" title="search" type="submit">  Recherche </button>
                                </div>
                                <!-- End .header-search-wrapper -->
                            </form>
                        </div>
                        <!-- End .header-search -->

                        <a href="#" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

                        <div class="dropdown cart-dropdown">
                            <a href="#" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="minicart-icon"></i>
                                <span class="cart-count badge-circle">3</span>
                            </a>

                            <div class="cart-overlay"></div>

                            <div class="dropdown-menu mobile-cart">
                                <a href="#" title="Close (Esc)" class="btn-close">×</a>

                                <div class="dropdownmenu-wrapper custom-scrollbar">
                                    <div class="dropdown-cart-header">Shopping Cart</div>
                                    <!-- End .dropdown-cart-header -->

                                    <div class="dropdown-cart-products">
                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Ultimate 3D Bluetooth Speaker</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span> × $99.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="assets/images/products/product-1.jpg" alt="product" width="80" height="80">
                                                </a>

                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->

                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Brown Women Casual HandBag</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span> × $35.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="assets/images/products/product-2.jpg" alt="product" width="80" height="80">
                                                </a>

                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->

                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Circled Ultimate 3D Speaker</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span> × $35.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="assets/images/products/product-3.jpg" alt="product" width="80" height="80">
                                                </a>
                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->
                                    </div>
                                    <!-- End .cart-product -->

                                    <div class="dropdown-cart-total">
                                        <span>SUBTOTAL:</span>

                                        <span class="cart-total-price float-right">$134.00</span>
                                    </div>
                                    <!-- End .dropdown-cart-total -->

                                    <div class="dropdown-cart-action">
                                        <a href="#" class="btn btn-gray btn-block view-cart">View
                                            Cart</a>
                                        <a href="#" class="btn btn-dark btn-block">Checkout</a>
                                    </div>
                                    <!-- End .dropdown-cart-total -->
                                </div>
                                <!-- End .dropdownmenu-wrapper -->
                            </div>
                            <!-- End .dropdown-menu -->
                        </div>
                        <!-- End .dropdown -->
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-middle -->

            <div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
                <div class="container">
                    <nav class="main-nav w-100">
                        <ul class="menu">
                            <li class="active">
                                <a href="#">Tous nos articles</a>
                            </li>
                            <li>
                                <a href="#">Puériculture</a>
                                <ul>
                                    <li><a href="#">Balancelles</a></li>
                                    <li><a href="#">Berceau</a></li>
                                    <li><a href="#">Siège auto & Poussette</a></li>
                                    <li><a href="#">Transats</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Vêtement</a>
                                <ul>
                                    <li><a href="#">Vêtement fille</a></li>
                                    <li><a href="#">Vêtement garçon</a></li>
                                    <li><a href="#">Bonnet chaussette</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Chaussures</a>
                                <ul>
                                    <li><a href="#">Chaussure fille</a></li>
                                    <li><a href="#">Chaussure garçon</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Repas Bébé</a>
                                <ul>
                                    <li><a href="#">Bavoirs</a></li>
                                    <li><a href="#">Biberons et accessoires</a></li>
                                    <li><a href="#">Chaises Hautes</a></li>
                                    <li><a href="#">Sucettes</a></li>
                                    <li><a href="#">Stérilisateurs</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hygiènes et soins</a>
                                <ul>
                                    <li><a href="#">Couches</a></li>
                                    <li><a href="#">Lingettes</a></li>
                                    <li><a href="#">Matelas et Table à Langer</a></li>
                                    <li><a href="#">Sacs à langer</a></li>
                                    <li><a href="#">Soins de la peau</a></li>
                                    <li><a href="#">Baignoires</a></li>
                                    <li><a href="#">Pots et Réducteurs</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Jouet et Cadeaux</a>
                                <ul>
                                    <li><a href="#">Cadeaux de naissance</a></li>
                                    <li><a href="#">Doudous et Peluches</a></li>
                                    <li><a href="#">Tapis d’éveil</a></li>
                                    <li><a href="#">Youpalas</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Univers Maman</a>
                                <ul>
                                    <li><a href="#">Accessoires bébés</a></li>
                                    <li><a href="#">Portes Bébé</a></li>
                                    <li><a href="#">Slip jetable</a></li>
                                    <li><a href="#">Serviette maternité</a></li>
                                    <li><a href="#">Tire-lait</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Plus</a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-bottom -->
        </header>
        <!-- End .header -->

        <main class="main">
        		<div class="container">
            		<nav aria-label="breadcrumb" class="breadcrumb-nav">
	                    <ol class="breadcrumb">
	                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
	                        <li class="breadcrumb-item active" aria-current="page">POLITIQUE DE LIVRAISON</li>
	                    </ol>
                	</nav>
            	</div>
            <div class="category-banner-container bg-gray">
            	
                <div class="category-banner banner text-uppercase" style="background: no-repeat 60%/cover url('assets/images/demoes/demo4/slider/slide-3.jpg');">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="pl-lg-3 col-sm-4 offset-sm-0 offset-1 pt-3">
                                <div class="coupon-sale-content">
                                    <h4 class="m-b-1 coupon-sale-text bg-white text-transform-none">POLITIQUE DE LIVRAISON
                                    </h4> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container contact-us-container">
                <div class="contact">
                    <div class="row">
                        <div class="col-12">
                            <div class="mt-5 mb-2">
                                <h2 class="ls-n-25 m-b-1">POLITIQUE DE LIVRAISON</h2>
                                <p>Les produits commandés sont livrés après le règlement du montant total de la commande à l’adresse de livraison que vous avez indiquée lors de votre commande. Nous vous demandons de bien vouloir indiquer clairement lors de la validation de l’adresse de livraison : votre numéro de téléphone (indispensable), et éventuellement l’adresse de votre domicile. Votre commande peut être livrée en moins de 24h partout à Dakar.</p>
                            </div>
                            <div class="mb-2">
                                <h2 class="ls-n-25 m-b-1">Délai</h2>
                                <p>Le délai moyen de livraison de tout produit commandé est de 5 à 8 jours selon les délais postaux. En cas de non-respect de ce délai, Ô'CASE BÉBÉ s’engage à vous informer dès que possible et par tout moyen. Vous aurez alors le choix entre le maintien ou l’annulation de votre commande. Toutefois, Ô'CASE BÉBÉ ne saurait être tenu pour responsable en cas de survenance d’un cas fortuit, d’une rupture de stock ou d’un cas de force majeure qui en gênerait ou en retarderait l’exécution. Toute commande est sujette à notre acceptation et livrable dans la limite des stocks disponibles. En cas de problème sur un produit ou un délai et seulement dans ce cas vous pouvez contacter notre service clientèle au +221 77 390 85 83 / +221 77 200 08 39 (coût d’un appel local, ou par WhatsApp) du lundi au dimanche, de 9 h 00 à 20 h 00.</p>
                            </div>
                            <div class="mb-2">
                                <h2 class="ls-n-25 m-b-1"> Frais de traitement</h2>
                                <p>La participation forfaitaire aux frais de port et de traitement est indiquée lors de votre commande. Sauf offres exceptionnelles ou livraison en nombre (nous consulter). Les frais de traitement de la commande, les frais d’emballage et les frais de port ne sont pas inclus sauf la livraison. Certaines destinations peuvent nécessiter et engager des frais supplémentaires, alors Ô'CASE BÉBÉ se réserve le droit d'adapter les frais de livraison selon les spécificités de la commande et surtout son lieu de livraison.</p>
                            </div>
                            <div class="mb-2">
                                <h2 class="ls-n-25 m-b-1"> Absence ou problème</h2>
                                <p>En cas d’absence lors de la livraison, un avis de passage est déposé dans votre boîte aux lettres. Vous devrez alors prendre contact avec le transporteur pour une deuxième présentation (gratuite) du colis. Préparée avec le plus grand soin, votre commande vous parviendra dans un emballage adéquat. En cas de problème sur le colis, vous devrez faire les réserves d'usage, si nécessaire, sur le récépissé de transport, en présence du transporteur, avec le nom précis des produits concernés et contacter le service clients de Ô'CASE BÉBÉ. Si à la réception de votre produit, vous constatez que ce dernier n’est pas conforme à votre commande, n’hésitez pas à nous contacter pour nous en informer.</p>
                            </div>
                            <div class="mb-2">
                                <h2 class="ls-n-25 m-b-1">RETOUR ET D'ÉCHANGE</h2>
                                <p>Vous devrez informer Ô'CASE BÉBÉ de votre décision avant de retourner la marchandise en appelant le service après-vente au +221 77 390 85 83 / +221 77 200 08 39 du Lundi au Dimanche de 9h00 à 20h00. Nous pouvons également vous renseigner en cas de problème de service après-vente sur un produit, un délai.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<div class="mb-8"></div>
            </div>
            <!-- End .container -->

            <div class="mb-4"></div>
            <!-- margin -->
        </main>
        <!-- End .main -->

        <footer class="footer bg-light">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">QUI SOMMES NOUS ?</h4>
                                <p>
                                    Ô’CASE BÉBÉ DAKAR est un magasin où vous pourrez tout trouver pour votre bébé :  lit bébé, poussettes, berceaux, siège auto, tire-lait, stérilisateur, biberons, vêtements et tous les produit de puériculture. Notre showroom se trouve à Dakar précisément aux 2 voies Liberté 6 en face de la Mosquée ABASS SALL, côte à côte de CORIS BANK. 
                                </p>
                                <h4 class="widget-title">HORAIRE D’OUVERTURE</h4>
                                <p class="mb-0">Lundi au Samedi.... 09h00 à 20h00</p>
                                <p>Dimanche. de 10h00 à 20h00</p>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-4 col-sm-6">
                            <div class="widget mx-5">
                                <h4 class="widget-title">INFORMATIONS LÉGALES</h4>
                                <ul class="links">
                                    <li><a href="#">Pourquoi nous choisir </a></li>
                                    <li><a href="#">Contactez-nous</a></li>
                                    <li><a href="#">Condition général d'utilisation</a></li>
                                    <li><a href="#">Modalité de paiement</a></li>
                                    <li><a href="#">Politique de livraison</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                                <h4 class="widget-title">RETROUVEZ-NOUS SUR</h4>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/Ocasebebe" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                                    <a href="https://twitter.com/bebeocase" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                    <a href="https://www.instagram.com/ocase_bebe_dakar/"  class="social-icon social-instagram icon-instagram" target="_blank" title="Instagram"></a>
                                </div>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-4 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">SERVICE CLIENT</h4>

                                <ul class="contact-info">
                                    <li>
                                        <i class="fab fa-whatsapp"></i> <span style="font-weight:700l"><a href="tel:+221773908583">+221 77 390 85 83</a></span>
                                    </li>
                                    <li>
                                        <i class="fab fa-whatsapp"></i> <span style="font-weight:700l"><a href="tel:+221772000839">+221 77 200 08 39</a></span>
                                    </li>
                                    <li>
                                        <i class="fab fa-whatsapp"></i> <span style="font-weight:700l"><a href="tel:+221777306666">+221 77 730 66 66</a></span>
                                    </li>
                                    <li>
                                        <i class="fab fa-whatsapp"></i> <span style="font-weight:700l"><a href="tel:+221763160539">+221 76 316 05 39</a></span>
                                    </li>
                                </ul>
                                <h4 class="widget-title">SERVICE CLIENT</h4>
                                <p class="mb-0">2 voies camp pénal liberté 6 en face de la mosquée Abass Sall Dakar. </p>
                                <p>Cité keur Gorgui en face Auchan près de CBAO.</p>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-middle -->

            <div class="container">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="footer-left text-center">
                            <span class="footer-copyright">© 2021 Ô’CASE BÉBÉ DAKAR  - Tous doits réservés.</span>
                        </div>
                    </div>
                </div>
                <!-- End .footer-bottom -->
            </div>
            <!-- End .container -->
        </footer>
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->

    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
                       
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="#">Tous nos articles</a>
                    </li>
                    <li>
                        <a href="#">Puériculture</a>
                        <ul>
                            <li><a href="#">Balancelles</a></li>
                            <li><a href="#">Berceau</a></li>
                            <li><a href="#">Siège auto & Poussette</a></li>
                            <li><a href="#">Transats</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Vêtement</a>
                        <ul>
                            <li><a href="#">Vêtement fille</a></li>
                            <li><a href="#">Vêtement garçon</a></li>
                            <li><a href="#">Bonnet chaussette</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Chaussures</a>
                        <ul>
                            <li><a href="#">Chaussure fille</a></li>
                            <li><a href="#">Chaussure garçon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Repas Bébé</a>
                        <ul>
                            <li><a href="#">Bavoirs</a></li>
                            <li><a href="#">Biberons et accessoires</a></li>
                            <li><a href="#">Chaises Hautes</a></li>
                            <li><a href="#">Sucettes</a></li>
                            <li><a href="#">Stérilisateurs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Hygiènes et soins</a>
                        <ul>
                            <li><a href="#">Couches</a></li>
                            <li><a href="#">Lingettes</a></li>
                            <li><a href="#">Matelas et Table à Langer</a></li>
                            <li><a href="#">Sacs à langer</a></li>
                            <li><a href="#">Soins de la peau</a></li>
                            <li><a href="#">Baignoires</a></li>
                            <li><a href="#">Pots et Réducteurs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Jouet et Cadeaux</a>
                        <ul>
                            <li><a href="#">Cadeaux de naissance</a></li>
                            <li><a href="#">Doudous et Peluches</a></li>
                            <li><a href="#">Tapis d’éveil</a></li>
                            <li><a href="#">Youpalas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Univers Maman</a>
                        <ul>
                            <li><a href="#">Accessoires bébés</a></li>
                            <li><a href="#">Portes Bébé</a></li>
                            <li><a href="#">Slip jetable</a></li>
                            <li><a href="#">Serviette maternité</a></li>
                            <li><a href="#">Tire-lait</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Plus</a>
                    </li>
                            
                </ul>

                <ul class="mobile-menu">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#" class="login-link">Log In</a></li>
                </ul>
            </nav>
            <!-- End .mobile-nav -->

            <form class="search-wrapper mb-2" action="#">
                <input type="text" class="form-control mb-0" placeholder="Search..." required />
                <button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
            </form>

            <div class="social-icons">
                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
                </a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
                </a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
                </a>
            </div>
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <div class="sticky-navbar">
        <div class="sticky-info">
            <a href="#">
                <i class="icon-home"></i>Home
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-bars"></i>Categories
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-wishlist-2"></i>Wishlist
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-user-2"></i> Se connecter
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-shopping-cart position-relative">
                    <span class="cart-count badge-circle">3</span>
                </i>Cart
            </a>
        </div>
    </div>

    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>
</body>
</html>