<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<title>Magasin Bébé et Enfant Dakar | OCASE Bébé Dakar | Dakar</title>

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images/icons/favicon.png">


	<script>
		WebFontConfig = {
			google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400' ] }
		};
		( function ( d ) {
			var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
			wf.src = 'assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore( wf, s );
		} )( document );
	</script>

	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="assets/css/demo4.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Main CSS File -->
	<link rel="stylesheet" href="assets/css/style.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome-free/css/all.min.css">
</head>

<body>
	<div class="page-wrapper">
		<div class="top-notice bg-primary text-white">
            <div class="container text-center">
                <h5 class="d-inline-block">Bienvenue dans votre showroom Ô’CASE BÉBÉ. Nous sommes ouvert du Lundi au Dimanche de 09H à 20H.</h5>
                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            </div>
            <!-- End .container -->
        </div>

		<header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="d-flex justify-content-between w-100">
                        <div class="header-left w-50">
                            <ul class="mb-0">
                                <li><a href="#"><i class="icon-user-2"></i> Se connecter</a></li>
                            </ul>
                        </div>
                        <div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100 w-50 text-right justify-content-end">
                       
                        
                        <!-- Socials -->

                        <div class="social-icons">
                            <a href="https://www.facebook.com/Ocasebebe" class="social-icon social-facebook icon-facebook" target="_blank"></a>
                            <a href="https://www.instagram.com/ocase_bebe_dakar/" class="social-icon social-twitter icon-twitter" target="_blank"></a>
                            <a href="https://twitter.com/bebeocase" class="social-icon social-instagram icon-instagram" target="_blank"></a>
                        </div>
                        <!-- End .social-icons -->
                    </div>
                    </div>
                    
                    <!-- End .header-left -->

                    
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-top -->

            <div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
                <div class="container">
                    <div class="header-left col-lg-2 w-auto pl-0">
                        <button class="mobile-menu-toggler text-primary mr-2" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" width="111" height="44" alt="Porto Logo">
                        </a>
                    </div>
                    <!-- End .header-left -->

                    <div class="header-right w-lg-max">
                        <div class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Rechercher un article, une catégorie" required>
                                    <div class="select-custom">
                                        <select id="cat" name="cat">
                                            <option value="">Toute catégorie</option>
                                            <option value="12">Puériculture</option>
                                            <option value="13">Vêtement</option>
                                            <option value="66">Chaussures</option>
                                            <option value="67">Repas Bébé</option>
                                            <option value="5">Hygiènes et soins</option>
                                            <option value="21">Jouet et Cadeaux</option>
                                            <option value="22">Univers Maman</option>
                                        </select>
                                    </div>
                                    <!-- End .select-custom -->
                                    <button class="btn icon-magnifier p-0" title="search" type="submit">  Recherche </button>
                                </div>
                                <!-- End .header-search-wrapper -->
                            </form>
                        </div>
                        <!-- End .header-search -->

                        <a href="#" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

                        <div class="dropdown cart-dropdown">
                            <a href="#" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="minicart-icon"></i>
                                <span class="cart-count badge-circle">3</span>
                            </a>

                            <div class="cart-overlay"></div>

                            <div class="dropdown-menu mobile-cart">
                                <a href="#" title="Close (Esc)" class="btn-close">×</a>

                                <div class="dropdownmenu-wrapper custom-scrollbar">
                                    <div class="dropdown-cart-header">Shopping Cart</div>
                                    <!-- End .dropdown-cart-header -->

                                    <div class="dropdown-cart-products">
                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Ultimate 3D Bluetooth Speaker</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span> × $99.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="assets/images/products/product-1.jpg" alt="product" width="80" height="80">
                                                </a>

                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->

                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Brown Women Casual HandBag</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span> × $35.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="assets/images/products/product-2.jpg" alt="product" width="80" height="80">
                                                </a>

                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->

                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Circled Ultimate 3D Speaker</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span> × $35.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="assets/images/products/product-3.jpg" alt="product" width="80" height="80">
                                                </a>
                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->
                                    </div>
                                    <!-- End .cart-product -->

                                    <div class="dropdown-cart-total">
                                        <span>SUBTOTAL:</span>

                                        <span class="cart-total-price float-right">$134.00</span>
                                    </div>
                                    <!-- End .dropdown-cart-total -->

                                    <div class="dropdown-cart-action">
                                        <a href="#" class="btn btn-gray btn-block view-cart">View
                                            Cart</a>
                                        <a href="#" class="btn btn-dark btn-block">Checkout</a>
                                    </div>
                                    <!-- End .dropdown-cart-total -->
                                </div>
                                <!-- End .dropdownmenu-wrapper -->
                            </div>
                            <!-- End .dropdown-menu -->
                        </div>
                        <!-- End .dropdown -->
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-middle -->

            <div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
                <div class="container">
                    <nav class="main-nav w-100">
                        <ul class="menu">
                            <li class="active">
                                <a href="#">Tous nos articles</a>
                            </li>
                            <li>
                                <a href="#">Puériculture</a>
                                <ul>
                                    <li><a href="#">Balancelles</a></li>
                                    <li><a href="#">Berceau</a></li>
                                    <li><a href="#">Siège auto & Poussette</a></li>
                                    <li><a href="#">Transats</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Vêtement</a>
                                <ul>
                                    <li><a href="#">Vêtement fille</a></li>
                                    <li><a href="#">Vêtement garçon</a></li>
                                    <li><a href="#">Bonnet chaussette</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Chaussures</a>
                                <ul>
                                    <li><a href="#">Chaussure fille</a></li>
                                    <li><a href="#">Chaussure garçon</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Repas Bébé</a>
                                <ul>
                                    <li><a href="#">Bavoirs</a></li>
                                    <li><a href="#">Biberons et accessoires</a></li>
                                    <li><a href="#">Chaises Hautes</a></li>
                                    <li><a href="#">Sucettes</a></li>
                                    <li><a href="#">Stérilisateurs</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hygiènes et soins</a>
                                <ul>
                                    <li><a href="#">Couches</a></li>
                                    <li><a href="#">Lingettes</a></li>
                                    <li><a href="#">Matelas et Table à Langer</a></li>
                                    <li><a href="#">Sacs à langer</a></li>
                                    <li><a href="#">Soins de la peau</a></li>
                                    <li><a href="#">Baignoires</a></li>
                                    <li><a href="#">Pots et Réducteurs</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Jouet et Cadeaux</a>
                                <ul>
                                    <li><a href="#">Cadeaux de naissance</a></li>
                                    <li><a href="#">Doudous et Peluches</a></li>
                                    <li><a href="#">Tapis d’éveil</a></li>
                                    <li><a href="#">Youpalas</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Univers Maman</a>
                                <ul>
                                    <li><a href="#">Accessoires bébés</a></li>
                                    <li><a href="#">Portes Bébé</a></li>
                                    <li><a href="#">Slip jetable</a></li>
                                    <li><a href="#">Serviette maternité</a></li>
                                    <li><a href="#">Tire-lait</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Plus</a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-bottom -->
        </header>
        <!-- End .header -->

		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Blog Post</li>
					</ol>
				</div><!-- End .container -->
			</nav>

			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<article class="post single">
							<div class="post-media">
								<img src="assets/images/blog/home/post1.png" alt="Post">
							</div><!-- End .post-media -->

							<div class="post-body">
								<div class="post-date">
									<span class="day">22</span>
									<span class="month">Jun</span>
								</div><!-- End .post-date -->

								<h2 class="post-title">Top New Collection</h2>

								<div class="post-meta">
									<a href="#" class="hash-scroll">0 Comments</a>
								</div><!-- End .post-meta -->

								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi.
										Etiam non tellus sem. Aenean pretium convallis lorem, sit amet dapibus ante
										mollis a. Integer bibendum interdum sem, eget volutpat purus pulvinar in. Sed
										tristique augue vitae sagittis porta. Phasellus ullamcorper, dolor suscipit
										mattis viverra, sapien elit condimentum odio, ut imperdiet nisi risus sit amet
										ante. Sed sem lorem, laoreet et facilisis quis, tincidunt non lorem. Etiam
										tempus, dolor in sollicitudin faucibus, sem massa accumsan erat.
									</p>

									<h3>“ Many
										desktop publishing packages and web page editors now use Lorem Ipsum as their
										default model search for evolved over sometimes by accident, sometimes on
										purpose ”
									</h3>

									<p>Aenean lorem diam, venenatis nec venenatis id, adipiscing ac massa. Nam vel dui
										eget justo dictum pretium a rhoncus ipsum. Donec venenatis erat tincidunt nunc
										suscipit, sit amet bibendum lacus posuere. Sed scelerisque, dolor a pharetra
										sodales, mi augue consequat sapien, et interdum tellus leo et nunc. Nunc
										imperdiet eu libero ut imperdiet.
									</p>
								</div><!-- End .post-content -->

								<div class="post-share">
									<h3 class="d-flex align-items-center">
										<i class="fas fa-share"></i>
										Share this post
									</h3>

									<div class="social-icons">
										<a href="#" class="social-icon social-facebook" target="_blank"
											title="Facebook">
											<i class="icon-facebook"></i>
										</a>
										<a href="#" class="social-icon social-twitter" target="_blank" title="Twitter">
											<i class="icon-twitter"></i>
										</a>
										<a href="#" class="social-icon social-linkedin" target="_blank"
											title="Linkedin">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="#" class="social-icon social-gplus" target="_blank" title="Google +">
											<i class="fab fa-google-plus-g"></i>
										</a>
										<a href="#" class="social-icon social-mail" target="_blank" title="Email">
											<i class="icon-mail-alt"></i>
										</a>
									</div><!-- End .social-icons -->
								</div><!-- End .post-share -->

								<div class="post-author">
									<h3><i class="far fa-user"></i>Author</h3>

									<figure>
										<a href="#">
											<img src="assets/images/blog/author.jpg" alt="author">
										</a>
									</figure>

									<div class="author-content">
										<h4><a href="#">John Doe</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
											odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in
											adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis
											placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
									</div><!-- End .author.content -->
								</div><!-- End .post-author -->

								<div class="comment-respond">
									<h3>Leave a Reply</h3>

									<form action="#">
										<p>Your email address will not be published. Required fields are marked *</p>

										<div class="form-group">
											<label>Comment</label>
											<textarea cols="30" rows="1" class="form-control" required></textarea>
										</div><!-- End .form-group -->

										<div class="form-group">
											<label>Name</label>
											<input type="text" class="form-control" required>
										</div><!-- End .form-group -->

										<div class="form-group">
											<label>Email</label>
											<input type="email" class="form-control" required>
										</div><!-- End .form-group -->

										<div class="form-group">
											<label>Website</label>
											<input type="url" class="form-control">
										</div><!-- End .form-group -->

										<div class="form-group-custom-control mb-2">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="save-name">
												<label class="custom-control-label" for="save-name">Save my name, email,
													and website in this browser for the next time I comment.</label>
											</div><!-- End .custom-checkbox -->
										</div><!-- End .form-group-custom-control -->

										<div class="form-footer my-0">
											<button type="submit" class="btn btn-sm btn-primary">Post
												Comment</button>
										</div><!-- End .form-footer -->
									</form>
								</div><!-- End .comment-respond -->
							</div><!-- End .post-body -->
						</article><!-- End .post -->

						<hr class="mt-2 mb-1">

						<div class="related-posts">
							<h4>Related <strong>Posts</strong></h4>

							<div class="owl-carousel owl-theme related-posts-carousel" data-owl-options="{
								'dots': false
							}">
								<article class="post">
									<div class="post-media zoom-effect">
										<a href="single.html">
											<img src="assets/images/blog/home/post1.png" alt="Post">
										</a>
									</div><!-- End .post-media -->

									<div class="post-body">
										<div class="post-date">
											<span class="day">29</span>
											<span class="month">Jun</span>
										</div><!-- End .post-date -->

										<h2 class="post-title">
											<a href="single.html">Post Format - Image</a>
										</h2>

										<div class="post-content">
											<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu
												ad litora torquent per conubia nostra, per incep tos himens.</p>

											<a href="single.html" class="read-more">read more <i
													class="fas fa-angle-right"></i></a>
										</div><!-- End .post-content -->
									</div><!-- End .post-body -->
								</article>

								<article class="post">
									<div class="post-media zoom-effect">
										<a href="single.html">
											<img src="assets/images/blog/home/post2.jpg" alt="Post">
										</a>
									</div><!-- End .post-media -->

									<div class="post-body">
										<div class="post-date">
											<span class="day">23</span>
											<span class="month">Mar</span>
										</div><!-- End .post-date -->

										<h2 class="post-title">
											<a href="single.html">Post Format - Image</a>
										</h2>

										<div class="post-content">
											<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu
												ad litora torquent per conubia nostra, per incep tos himens.</p>

											<a href="single.html" class="read-more">read more <i
													class="fas fa-angle-right"></i></a>
										</div><!-- End .post-content -->
									</div><!-- End .post-body -->
								</article>

								<article class="post">
									<div class="post-media zoom-effect">
										<a href="single.html">
											<img src="assets/images/blog/home/post3.png" alt="Post">
										</a>
									</div><!-- End .post-media -->

									<div class="post-body">
										<div class="post-date">
											<span class="day">14</span>
											<span class="month">May</span>
										</div><!-- End .post-date -->

										<h2 class="post-title">
											<a href="single.html">Post Format - Image</a>
										</h2>

										<div class="post-content">
											<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu
												ad litora torquent per conubia nostra, per incep tos himens.</p>

											<a href="single.html" class="read-more">read more <i
													class="fas fa-angle-right"></i></a>
										</div><!-- End .post-content -->
									</div><!-- End .post-body -->
								</article>

								<article class="post">
									<div class="post-media zoom-effect">
										<a href="single.html">
											<img src="assets/images/blog/home/post4.jpg" alt="Post">
										</a>
									</div><!-- End .post-media -->

									<div class="post-body">
										<div class="post-date">
											<span class="day">11</span>
											<span class="month">Apr</span>
										</div><!-- End .post-date -->

										<h2 class="post-title">
											<a href="single.html">Post Format - Image</a>
										</h2>

										<div class="post-content">
											<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu
												ad litora torquent per conubia nostra, per incep tos himens.</p>

											<a href="single.html" class="read-more">read more <i
													class="fas fa-angle-right"></i></a>
										</div><!-- End .post-content -->
									</div><!-- End .post-body -->
								</article>
							</div><!-- End .owl-carousel -->
						</div><!-- End .related-posts -->
					</div><!-- End .col-lg-9 -->>
				</div><!-- End .row -->
			</div><!-- End .container -->
		</main><!-- End .main -->

		<footer class="footer bg-light">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">QUI SOMMES NOUS ?</h4>
                                <p>
                                    Ô’CASE BÉBÉ DAKAR est un magasin où vous pourrez tout trouver pour votre bébé :  lit bébé, poussettes, berceaux, siège auto, tire-lait, stérilisateur, biberons, vêtements et tous les produit de puériculture. Notre showroom se trouve à Dakar précisément aux 2 voies Liberté 6 en face de la Mosquée ABASS SALL, côte à côte de CORIS BANK. 
                                </p>
                                <h4 class="widget-title">HORAIRE D’OUVERTURE</h4>
                                <p class="mb-0">Lundi au Samedi.... 09h00 à 20h00</p>
                                <p>Dimanche. de 10h00 à 20h00</p>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-4 col-sm-6">
                            <div class="widget mx-5">
                                <h4 class="widget-title">INFORMATIONS LÉGALES</h4>
                                <ul class="links">
                                    <li><a href="#">Pourquoi nous choisir </a></li>
                                    <li><a href="#">Contactez-nous</a></li>
                                    <li><a href="#">Condition général d'utilisation</a></li>
                                    <li><a href="#">Modalité de paiement</a></li>
                                    <li><a href="#">Politique de livraison</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                                <h4 class="widget-title">RETROUVEZ-NOUS SUR</h4>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/Ocasebebe" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                                    <a href="https://twitter.com/bebeocase" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                    <a href="https://www.instagram.com/ocase_bebe_dakar/"  class="social-icon social-instagram icon-instagram" target="_blank" title="Instagram"></a>
                                </div>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-4 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">SERVICE CLIENT</h4>

                                <ul class="contact-info">
                                    <li>
                                        <i class="fab fa-whatsapp"></i> <span style="font-weight:700l"><a href="tel:+221773908583">+221 77 390 85 83</a></span>
                                    </li>
                                    <li>
                                        <i class="fab fa-whatsapp"></i> <span style="font-weight:700l"><a href="tel:+221772000839">+221 77 200 08 39</a></span>
                                    </li>
                                    <li>
                                        <i class="fab fa-whatsapp"></i> <span style="font-weight:700l"><a href="tel:+221777306666">+221 77 730 66 66</a></span>
                                    </li>
                                    <li>
                                        <i class="fab fa-whatsapp"></i> <span style="font-weight:700l"><a href="tel:+221763160539">+221 76 316 05 39</a></span>
                                    </li>
                                </ul>
                                <h4 class="widget-title">SERVICE CLIENT</h4>
                                <p class="mb-0">2 voies camp pénal liberté 6 en face de la mosquée Abass Sall Dakar. </p>
                                <p>Cité keur Gorgui en face Auchan près de CBAO.</p>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-middle -->

            <div class="container">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="footer-left text-center">
                            <span class="footer-copyright">© 2021 Ô’CASE BÉBÉ DAKAR  - Tous doits réservés.</span>
                        </div>
                    </div>
                </div>
                <!-- End .footer-bottom -->
            </div>
            <!-- End .container -->
        </footer>
        <!-- End .footer -->
	



    </div><!-- End .page-wrapper -->

	<div class="loading-overlay">
		<div class="bounce-loader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

	<div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
                       
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="#">Tous nos articles</a>
                    </li>
                    <li>
                        <a href="#">Puériculture</a>
                        <ul>
                            <li><a href="#">Balancelles</a></li>
                            <li><a href="#">Berceau</a></li>
                            <li><a href="#">Siège auto & Poussette</a></li>
                            <li><a href="#">Transats</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Vêtement</a>
                        <ul>
                            <li><a href="#">Vêtement fille</a></li>
                            <li><a href="#">Vêtement garçon</a></li>
                            <li><a href="#">Bonnet chaussette</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Chaussures</a>
                        <ul>
                            <li><a href="#">Chaussure fille</a></li>
                            <li><a href="#">Chaussure garçon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Repas Bébé</a>
                        <ul>
                            <li><a href="#">Bavoirs</a></li>
                            <li><a href="#">Biberons et accessoires</a></li>
                            <li><a href="#">Chaises Hautes</a></li>
                            <li><a href="#">Sucettes</a></li>
                            <li><a href="#">Stérilisateurs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Hygiènes et soins</a>
                        <ul>
                            <li><a href="#">Couches</a></li>
                            <li><a href="#">Lingettes</a></li>
                            <li><a href="#">Matelas et Table à Langer</a></li>
                            <li><a href="#">Sacs à langer</a></li>
                            <li><a href="#">Soins de la peau</a></li>
                            <li><a href="#">Baignoires</a></li>
                            <li><a href="#">Pots et Réducteurs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Jouet et Cadeaux</a>
                        <ul>
                            <li><a href="#">Cadeaux de naissance</a></li>
                            <li><a href="#">Doudous et Peluches</a></li>
                            <li><a href="#">Tapis d’éveil</a></li>
                            <li><a href="#">Youpalas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Univers Maman</a>
                        <ul>
                            <li><a href="#">Accessoires bébés</a></li>
                            <li><a href="#">Portes Bébé</a></li>
                            <li><a href="#">Slip jetable</a></li>
                            <li><a href="#">Serviette maternité</a></li>
                            <li><a href="#">Tire-lait</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Plus</a>
                    </li>
                            
                </ul>

                <ul class="mobile-menu">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#" class="login-link">Log In</a></li>
                </ul>
            </nav>
            <!-- End .mobile-nav -->

            <form class="search-wrapper mb-2" action="#">
                <input type="text" class="form-control mb-0" placeholder="Search..." required />
                <button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
            </form>

            <div class="social-icons">
                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
                </a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
                </a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
                </a>
            </div>
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>

	<div class="sticky-navbar">
        <div class="sticky-info">
            <a href="#">
                <i class="icon-home"></i>Home
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-bars"></i>Categories
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-wishlist-2"></i>Wishlist
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-user-2"></i> Se connecter
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-shopping-cart position-relative">
					<span class="cart-count badge-circle">3</span>
				</i>Cart
            </a>
        </div>
    </div>



	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<!-- Plugins JS File -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="assets/js/main.min.js"></script>
</body>
</html>